aiohttp==3.8.6
aiosignal==1.2.0
async-timeout==4.0.2
attr==0.3.2
attrs==22.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
chardet==3.0.4
charset-normalizer==3.0.1
discord==2.3.2
discord.py==2.3.2
emoji==2.10.1
frozenlist==1.4.1
html5lib==1.1
idna==3.6
multidict==4.5.0
numpy==2.2.5
opencv-python==4.11.0.86
packaging==25.0
pillow==10.3.0
pytesseract==0.3.13
python-dotenv==0.20.0
requests==2.31.0
six==1.16.0
soupsieve==2.5
urllib3==2.2.1
validators==0.22.0
webencodings==0.5.1
yarl==1.0.0
